absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.0
apex @ file:///opt/pytorch/apex/dist/apex-0.1-cp312-cp312-linux_aarch64.whl#sha256=2a452a5cf876bfd2e37eceeb61f18a68eb524db04782a8b196678f1af8be0ac4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
astunparse==1.6.3
async-lru==2.0.5
attrs==25.4.0
audioread==3.1.0
babel==2.17.0
beautifulsoup4==4.14.3
black==25.12.0
bleach==6.3.0
build==1.3.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cmake==3.31.6
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
Cython==3.2.3
datasets==4.4.1
debugpy==1.8.19
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
dllist==2.0.0
dm-tree==0.1.9
docstring_parser==0.17.0
dotenv==0.9.9
einops==0.8.1
execnet==2.1.2
executing==2.2.1
expecttest==0.3.0
fastjsonschema==2.21.2
filelock==3.20.1
flash_attn @ file:///opt/transfer/flash_attn-2.7.4.post1%2B25.12-40345937-cp312-cp312-linux_aarch64.whl#sha256=7db5f9e748949c02e3ff65869873fea69269770486bad9dc650a07a1e83387f2
fonttools==4.61.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.10.0
gast==0.6.0
greenlet==3.3.2
grpcio==1.76.0
gyp==0.1
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.2.3
hypothesis==6.130.8
idna==3.11
importlib_metadata==8.7.0
iniconfig==2.3.0
ipykernel==7.1.0
ipython==9.8.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
isort==7.0.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.7.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.5.1
jupyterlab_code_formatter==3.0.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_tensorboard_pro @ file:///builder/jupyterlab_tensorboard_pro-4.0.0-py2.py3-none-any.whl#sha256=57769048e23a4f878b07e4aae060364cde26e503c016990d46235891e5fd66de
jupytext==1.18.1
kiwisolver==1.4.9
lark==1.3.1
lazy_loader==0.4
librosa==0.11.0
lightning-thunder @ file:///opt/pytorch/lightning-thunder
lightning-utilities==0.15.2
lintrunner==0.12.7
llvmlite==0.46.0
looseversion==1.3.0
makefun==1.16.0
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
mistune==3.1.4
ml_dtypes==0.5.4
mock==5.2.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.0
multiprocess==0.70.18
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6.1
ninja==1.13.0
notebook==7.5.1
notebook_shim==0.2.4
numba==0.63.1
numpy==2.1.0
nv-one-logger-core==2.3.1
nv-one-logger-training-telemetry==2.3.1
nvfuser @ file:///opt/pytorch/fuser/python
nvidia-cuda-runtime-cu13==0.0.0a0
nvidia-cudnn-frontend @ file:///opt/pytorch/lightning-thunder/tmp/cudnn_frontend
nvidia-dali-cuda130==1.52.0
nvidia-ml-py==13.590.44
nvidia-modelopt==0.39.0
nvidia-nvcomp-cu13==5.0.0.6
nvidia-nvimgcodec-cu13==0.6.1.37
nvidia-nvjpeg==13.0.2.28
nvidia-nvjpeg2k-cu13==0.9.1.47
nvidia-nvtiff-cu13==0.6.0.78
nvidia-resiliency-ext==0.5.0
nvtx==0.2.14
onnx @ file:///opt/pytorch/pytorch/third_party/onnx
onnx-ir==0.1.12
onnxscript==0.5.7
opt_einsum==3.4.0
optree==0.18.0
overrides==7.7.0
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.5
pathspec==0.12.1
patsy==1.0.2
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.1
pluggy==1.6.0
polygraphy==0.49.26
pooch==1.8.2
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.2
psutil==7.1.3
psycopg2-binary==2.9.11
ptyprocess==0.7.0
PuLP==3.3.0
pure_eval==0.2.3
pyarrow==22.0.0
pybind11==3.0.1
pybind11-global==3.0.1
pycocotools @ git+https://github.com/nvidia/cocoapi.git@08350a157b41f0755a536441b5abec89ab934c5b#subdirectory=PythonAPI
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.2.5
pyproject_hooks==1.2.0
pytest==8.1.1
pytest-flakefinder==1.1.0
pytest-rerunfailures==16.1
pytest-shard==0.1.2
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==4.0.0
python_hostlist==2.3.0
pytokens==0.3.0
pytorch-triton @ file:///tmp/dist/pytorch_triton-3.5.1%2Bgitbfeb0668.nv25.12-cp312-cp312-linux_aarch64.whl#sha256=1d676438548cdbdf81cf4c89b4a006cdd81726ee60c1241937e08c52b381a06d
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rpds-py==0.30.0
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.16.3
Send2Trash==1.8.3
setuptools==80.9.0
shellingham==1.5.4
six==1.16.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8
soxr==1.0.0
SQLAlchemy==2.0.48
stack-data==0.6.3
statsmodels==0.14.6
StrEnum==0.4.15
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorrt @ file:///workspace/TensorRT-10.14.1.48/python/tensorrt-10.14.1.48-cp312-none-linux_aarch64.whl#sha256=046b5c803c183e54cc9dd3504a6cfeaa06fd2763dd4a67abb6b28ce48e0392dd
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.22.1
toml==0.10.2
tomli==2.3.0
torch @ file:///opt/transfer/torch-2.10.0a0%2Bb4e4ee81d3.nv25.12-40345937-cp312-cp312-linux_aarch64.whl#sha256=aae06bbfe23a557da17ecfcff41ff2a9a8d2d61363899eac777771f3ccfb273e
torch_tensorrt @ file:///opt/pytorch/torch_tensorrt/dist/torch_tensorrt-2.10.0a0-cp312-cp312-linux_aarch64.whl#sha256=72ea79df14b4a124a7dd4ed256b7613bda60f131b45f17a3ceaedf5d441eb780
torchao @ file:///opt/pytorch/ao
torchdata==0.11.0
torchprofile==0.0.4
torchtitan @ file:///opt/pytorch/torchtitan
torchvision @ file:///opt/transfer/torchvision-0.25.0a0%2Bca221243-40345937-cp312-cp312-manylinux_2_28_aarch64.whl#sha256=021cbd5bcf3a47908b2ac29a648ca02046824a3564f41f76efeff7fb3aa10af6
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
transformer_engine @ file:///workspace/TransformerEngine
triton_kernels @ file:///tmp/dist/triton_kernels-1.0.0%2Bgitbfeb0668.nv25.12-py3-none-any.whl#sha256=f79455e18d1992e2f1ec665551c90f4b3fdf6f1253810da8fa029735716b499d
typeguard==4.4.4
typer-slim==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==1.0.2
tzdata==2025.3
uri-template==1.3.0
urllib3==2.6.1
uv==0.9.18
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.4
wheel==0.45.1
wrapt==2.0.1
wrds==3.5.0
xdoctest==1.0.2
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
